<!DOCTYPE html>
<html>
<head>
 
<meta charset="UTF-8">
<title>Clientes</title>

 
</head>
<body>

<div >   
  <h1 >I.T.G.A.M.</h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno Jose de Jesus</h3>

   </div>
<h1>Clientes Registrados:</h1>
<table >
	<thead>
		<tr >
			<th>IdCliente</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Teléfono</th>
			<th>Email</th>
			<th>Dirección</th>
		</tr>
	</thead>
	<tr th:each="clientes :${clientes}" th:class="${clientesStat.odd}?'impar':'par'">
		<td th:text="${clientes.IdCliente}"></td>
		<td th:text="${clientes.Nombre}"></td>
		<td th:text="${clientes.Apellidos}"></td>
		<td th:text="${clientes.Telefono}"></td>
		<td th:text="${clientes.Email}"></td>
		<td th:text="${clientes.Direccion}"></td>		
	</tr>

</table>



</center>
	</div>
</body>
</html>
