<!DOCTYPE html>
<html>
<head>
 
<meta charset="UTF-8">
<title>Computadoras</title>

</head>
  
<body>

<div >   
  <h1>I.T.G.A.M.</h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno Jose de Jesus</h3>

   </div>
<h1>Computadoras Registradas:</h1>
<table >
	<thead>
		<tr >
			<th>NoSerie</th>
			<th>Marca</th>
			<th>Procesador</th>
			<th>Sistema Operativo</th>
			<th>Ram</th>
			<th>NoNucleos</th>
		</tr>
	</thead>
	<tr th:each="computadoras :${computadoras}">
		<td th:text="${computadoras.noSerie}"></td>
		<td th:text="${computadoras.marca}"></td>
		<td th:text="${computadoras.procesador}"></td>
		<td th:text="${computadoras.so}"></td>
		<td th:text="${computadoras.ram}"></td>
		<td th:text="${computadoras.noNucleos}"></td>		
	</tr>

</table>

</center>
	</div>
</body>
</html>
