<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
<title>Index</title>
 
</head>
<body>
 
<div >   
  <h1 >I.T.G.A.M.</h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno José de Jesús</h3>

   </div>
<center>
<h1>Menu de opciones</h1>
</center>
<ul>
	<li>
		<a th:href="@{/examenUnidad2/Computadoras}" >Computadoras</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Tickets}">Tickets</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Venta}">Venta</a>
	</li>
	<li>
	<a th:href="@{/examenUnidad2/Clientes}">Clientes</a>
	</li>
	<li>
	<a th:href="@{/examenUnidad2/Proveedores}">Proveedores</a>
	</li>
</ul>

</body>
</html>
