<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Proveedores</title>

  
</head>
<body>
 
<div >   
  <h1 </h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno Jose de Jesus</h3>

   </div>
<h1>Proveedores Registrados:</h1>
<table >
	<thead>
		<tr >
			<th>IdProveedor</th>
			<th>Nombre Compania</th>
			<th>Nombre Contacto</th>
			<th>Email</th>
			<th>Teléfono</th>
			<th>Rfc</th>
			<th>Dirección</th>
		</tr>
	</thead>
	<tr th:each="proveedores :${proveedores}">
	    
		<td th:text="${proveedores.idProveedor}"></td>
		<td th:text="${proveedores.NombreCompania}"></td>
		<td th:text="${proveedores.NombreContacto}"></td>
		<td th:text="${proveedores.Email}"></td>
		<td th:text="${proveedores.RFC}"></td>
		<td th:text="${proveedores.Telefono}"></td>
		<td th:text="${proveedores.Direccion}"></td>		
	</tr>

</table>


</center>
	</div>
</body>
</html>
