<!DOCTYPE html>
<html>
<head>
 
<meta charset="UTF-8">
<title>Tickets</title>
 
  
</head>
<body>

<div >   
  <h1 >I.T.G.A.M.</h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno Jose de Jesus</h3>

   </div>
<h1>Tickets Registrados:</h1>
<table >
	<thead>
		<tr >
			<th>IdTicket</th>
			<th>IdVenta</th>
			<th>NoSerie</th>
			<th>Cantidad</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tr th:each="tickets :${tickets}">
		<td th:text="${tickets.IdTicket}"></td>
		<td th:text="${tickets.IdVenta}"></td>
		<td th:text="${tickets.NoSerie}"></td>
		<td th:text="${tickets.Cantidad}"></td>
		<td th:text="${tickets.Precio}"></td>		
	</tr>

</table>
</center>
	</div>
</body>
</html>
