<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

  
</head>
<body>
 
<div >   
  <h1 >I.T.G.A.M.</h1>
    <h1 >Desarrollo de aplicaciones web</h1>
    <h3 >Alumno: Zamudio Moreno Jose de Jesus</h3>

   </div>
		
		
    </header>
<h1>Ventas Registradas:</h1>
<table >
	<thead>
		<tr >
			<th>IdVenta</th>
			<th>IdUsuario</th>
			<th>Fecha</th>
			<th>Subtotal</th>
			<th>Iva</th>
			<th>CostoEnvio</th>
			<th>Total</th>
		</tr>
	</thead>
	<tr th:each="venta :${venta}">
		<td th:text="${venta.idVenta}"></td>
		<td th:text="${venta.idUsuario}"></td>
		<td th:text="${venta.fecha}"></td>
		<td th:text="${venta.subtotal}"></td>
		<td th:text="${venta.iva}"></td>
		<td th:text="${venta.costoE}"></td>
		<td th:text="${venta.total}"></td>	
	</tr>

</table>
<br>
</table>
</center>
	</div>
</body>
</html>
